body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    background-color: #080f13;
    color: white;
    text-align: left;
    margin: 0;
    padding: 20pt;
    line-height: 1.5;
    cursor: url('https://github.com/niceonechris/niceonechris.github.io/blob/f4b32a1f8aa64fdc713291cdf56dd5d43b0ad52f/cursor.png'), auto;
}

header {
    background-color: #080f13;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15pt 80pt; /* Adjust padding top and right */
}

header h1 {
    margin: 0;
    font-size: 10pt;
    color: white;
    font-weight: normal;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
 
}

nav ul li {
    display: inline;
    margin-right: 0px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    font-size: 10pt;
    color: white;
    line-height: 1.5;
    width: 35vw;
    padding-top: 100pt; /* Adjust padding-top */
    padding-left: 20vw;
    align-items: center;
    text-align: justify; /* Set text alignment to justify */
}


h2 {
    font-size: 10pt;
    color: white;
    font-weight: normal;
    line-height: 1.5;
}

p {
    font-size: 10pt;
    color: white;
    font-weight: normal;
    line-height: 1.5;
}

a {
    text-decoration: none; /* Remove the underline */
}
.email-link {
    text-decoration: none;
    color: red; /* Set the desired text color */
}


.red-text {
    color: red;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    header {
        padding: 15pt 20pt; /* Adjusted padding for mobile */
    }
    main {
        width: 100%; /* Adjusted width for mobile */
        padding: 20pt; /* Adjusted padding for mobile */
        padding-top: 20pt; /* Adjusted padding-top for mobile */
        padding-left: 20pt; /* Adjusted padding-left for mobile */
    }
}
